# Imports release site-values for which they are applied.
# This is a YAML-formatted file.

{{ if hasKey .Values .Release.Name }}
{{ .Values | get .Release.Name | toYaml }}
{{ end }}

global: {{ .Values | get "global" | toYaml | nindent 2 }}